.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background: rgb(202, 238, 202);
}
.nav-logo{
    display :flex ;
    align-items: center;
    gap: 10px;
    border: radius 50%;
}
.nav-logo img{
    width: 20%;
    
}
.nav-logo p{
    color: rgb(22, 57, 2);
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(1, 62, 42);
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    color: #085503;
}
.nav-menu li:hover{
    color: rgb(2, 61, 9);

}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(170, 246, 137);
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
}
.nav-login-cart button{
    width: 80px;
    height: 40px;
    outline: none;
    border: 1px solid whitesmoke;
    border-radius:30px;
    color: rgb(253, 247, 247);
    font-size: 20px;
    font-weight: 500;
    background: rgb(10, 121, 25);
    cursor:pointer;
    margin-left: 30px;
}
.nav-login-cart button:hover{
    background: rgb(91, 222, 97);
    color: rgb(6, 6, 6);
}
.nav-login-cart img{
    display: flex;
    width: 60px;
    margin-left: 10px;
}
.nav-login-cart button:active{
    background: rgb(183, 232, 183);
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 10px;
    font-weight: bold;
    background: rgb(232, 25, 25);
    color: rgb(255, 255, 255);
}
