
body {
  font-family: Arial, sans-serif;
}

.product-details {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #eafaf1; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-column {
  text-align: center;
  margin-bottom: 20px;
}

.product-image {
  width: 400px; 
  height: auto;
  border: 2px solid #388e3c; 
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.thumbnail-image {
  width: 100px; 
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #388e3c; 
  border-radius: 5px;
  margin-bottom: 5px;
}

.product-info {
  width: 100%;
  text-align: left;
  color: #006400; 
}

.product-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  color: darkgreen;
  margin-bottom: 30px;
}

.product-brand {
  font-size: 1.5em; 
  color: #006400; 
  margin-top: 10px;
}

.product-quantity {
  font-size: 1.2em; 
  color: #006400; 
  margin-top: 10px;
}

.product-price {
  font-size: 2em; 
  color: #006400; 
  font-weight: bold;
  margin-top: 10px;
}

.product-description {
  font-size: 1.3em; 
  color: #006400; 
  margin-top: 10px;
}

.product-category {
  font-size: 1.2em;
  color: #006400; 
  margin-top: 10px;
}

.product-rating {
  font-size: 1.2em;
  color: #045d0d; 
  margin-top: 10px;
}

.add-to-cart {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px; 
  background-color: #388e3c; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; 
}

.add-to-cart:hover {
  background-color: #2e7d32; 
}

.reviews, .help-button, .similar-products {
  max-width: 1200px;
  margin: 40px auto; 
  padding: 20px;
  background-color: #eafaf1; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #006400; 
}

.reviews h4, .similar-products h4 {
  font-size: 1.7em; 
  font-weight: bold;
  margin-bottom: 30px;
}

.help-button {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 30px; 
  background-color: #388e3c; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; 
}

.help-button:hover {
  background-color: #2e7d32; 
}


.similar-products ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.similar-products li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 30%; 
}

.item-image {
  width: 150px; 
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-name {
  font-size: 1.5em; 
  font-weight: bold;
}

.item-price {
  font-size: 1.5em; 
  color: #006400; 
}
.item-rating{
  color: goldenrod;
}